[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/brian/Desktop/polarization.nlogo]
row=4
col=0

[/home/brian/Desktop/graduation-6-190510.jpg]
row=1
col=1

[/home/brian/Desktop/Brian_Lubars_Resume_SP19.pdf]
row=3
col=1

[/home/brian/Desktop/graduation-7-190510.jpg]
row=2
col=1

[/home/brian/Desktop/LEARN]
row=7
col=0

[/home/brian/Desktop/FoxitReader.enu.setup.2.4.4.0911(r057d814).x64.run]
row=6
col=0

[/home/brian/Desktop/Jupyter_Notebook_CheatSheet_Edureka.pdf]
row=11
col=0

[/home/brian/Desktop/status.txt]
row=5
col=0

[/home/brian/Desktop/Terraria.desktop]
row=12
col=0

[/home/brian/Desktop/Old Firefox Data]
row=13
col=0

[/home/brian/Desktop/photos]
row=4
col=1

[/home/brian/Desktop/predictors-fake-news-dissemination-on-fb.pdf]
row=8
col=0

[/home/brian/Desktop/steam.desktop]
row=9
col=0

[/home/brian/Desktop/AutoInsuranceIdCards.pdf]
row=10
col=0

[/home/brian/Desktop/graduation]
row=0
col=1

[/home/brian/Desktop/polarization]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/brian]
row=2
col=0

